body {
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#adDiv {
    padding: 50px;
    box-sizing: border-box;
    width: 90%;
    height: 400px;
    margin: auto;
    background-image: url(https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/6706fa26-6361-490d-bfe2-03efbd786881.jpg);
}

#adDiv>div {
    width: 38%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 20px;
    line-height: 1;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#notifyDiv {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1d1f;
    color: white;
    font-weight: bold;
    padding: 12px;
    box-sizing: border-box;
}
#slides{
    width: 90%;
    margin: auto;
}
#notifyDiv>div {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1d1f;
    color: white;
}

#notifyDiv>div>div:first-child {
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: white;
    color: black;

}
#notifyDiv>div>div:last-child {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: #1c1d1f;
    color: white;
    border: 1px solid white;
}
#mainCourseDiv {
    width: 90%;
    margin: auto;
}
.udemyB {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-bottom: 80px;
}
.udemyB>div{
    width: 40%;
    margin-top:60px;
}
.udemyB>div>div {
    background-color: black;
    color: white;
    padding: 10px;
    width: 27%;
}
.unic{
    width: 40% !important;
}
#company {
    margin-bottom: 50px;
    padding: 25px 0px;
    background-color: #f7f9fa;
    text-align: center;
}
#company img{
   margin-right: 10px;
}

#topics{
    background-color: #f7f9fa;
    padding: 50px 0px;
}
#topics>div:first-child{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
#topics h3{
    color: #027bff;
}
#topics>div:last-child{
    width: 170px;
    border: 1px solid;
    box-sizing: border-box;
    margin-left: 90px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}
body>h2,body>h1,body>p{
    margin-left: 75px;
}
#categories{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
}
#topCourse{
    display: flex;
    width:50%;
    align-items: center;
    justify-content: space-around;
    margin-left:70px;
    color:#c7c9cd;
}
#topCourse>h4:hover{
    color: black;
}
#pythonBox{
    border: 1px solid #d1d7dc;
    width: 90%;
    margin: auto;
    padding: 50px 0px;
    box-sizing: border-box;
}
#stundentview,#businessDiv{
    width: 90%;
    margin: auto;
}
#pythonDiv{
    box-sizing: border-box;
    padding: 20px 40px;
}
#pythonDiv>div:first-child{
    width: 65%;
}
#pythonDiv>div>div:first-of-type{
    width: 16%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid;
}
#midDiv{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #f7f9fa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#midDiv>div{
    display: flex;
    align-items: center;
    width: 22%;
}
#midDiv i,img{
    margin-right: 10px;
}
#midDiv img{
    width:35px;
}

