body {
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#navbar {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}

#navbar>div:first-child {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #d1d7dc;
}

#navbar>div:last-child {
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#mainlogo {
    width: 90px;
    height: 90px;
}

#searchbar {
    display: flex;
    width: 48%;
    height: 70%;
    background-color: #f5f5f6;
    color: gray;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
}

#searchbar>i {
    box-sizing: border-box;
    padding-left: 20px;
}

a:link {
    text-decoration: none;
}

a>div {
    color: black;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 99%;
    width: 90%;
}

textarea:focus,
input:focus {
    outline: none;
}

i {
    font-size: 20px;
}

#bag>img {
    width: 22px;
}

#profile {
    padding: 8px;
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

#Categories {
    height: 100%;
    padding: 25px 0px;
    box-sizing: border-box;
    font-size: 13px;
    
}

#hoverDiv {
    display: flex;
    width: 15%;
    position: absolute;
    height: 550px;
    background: #fff;
    visibility: hidden;
    border: 1px solid #d1d7dc;
}

#devlopHover,
#webdevlopHover,
#BHover,
#FHover {
    display: flex;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 550px;
    background: #fff;
    border: 1px solid #d1d7dc;
}

#Categories:hover #hoverDiv,
#Business:hover #bhoverDiv,
#tech:hover #thoverDiv,
#learing:hover #LrhoverDiv{
    display: flex;
    flex-direction: column;
    margin-top:1.3%;
    visibility: visible;
    opacity: 1;
    color: purple;
}
#dDiv:hover #dhover{
    display: flex;
    visibility: visible;
    opacity: 1;

}
#Devlopment:hover #devlopHover,
#web:hover #webdevlopHover,
#Bbox:hover #BHover,
#Fbox:hover #FHover {
    display: flex;
    flex-direction: column;
    top:0%;
    left: 100%;
    visibility: visible;
    opacity: 1;
}

#hoverDiv>div,
#devlopHover>div,
#webdevlopHover>div,
#BHover>div,
#FHover>div {
    box-sizing: border-box;
    border: 1px solid;
    color: black;
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
}

#hoverDiv>div:hover,
#devlopHover>div:hover {
    color: purple;
}

#hoverDiv i,
#devlopHover i {
    font-size: 12px;
}

#bhoverDiv,
#thoverDiv,
#LrhoverDiv{
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    width: 18%;
    position: absolute;
    height: 180px;
    margin-left:-100px;
    background: #fff;
    visibility: hidden;
    border-left: 1px solid #d1d7dc;
}
#dhover{
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    justify-content:space-evenly;
    width:100%;
    position: absolute;
    margin-top: 20px;
    height:50px;
    font-size:14px;
    margin-left: -180px;
    background:black;
    color: white;
    visibility: hidden;
    border-left: 1px solid #d1d7dc;
}

#bhoverDiv>h4,
#thoverDiv>h4,
#LrhoverDiv>h4 {
    color: black;
    text-align: center;
}

#bhoverDiv>div,
#thoverDiv>div {
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 10px;
}

#LrhoverDiv>div {
    text-align: center;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
}