body {
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}
#homenavbar {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}

#homenavbar>div:first-child {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #d1d7dc;
}

#homenavbar>div:last-child {
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
#profile {
    padding: 8px;
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
#dDiv:hover #dhover{
    display: flex;
    visibility: visible;
    opacity: 1;
}
#dhover{
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    justify-content:space-evenly;
    width:100%;
    position: absolute;
    margin-top: 20px;
    height:50px;
    font-size:14px;
    margin-left: -180px;
    background:black;
    color: white;
    visibility: hidden;
    border-left: 1px solid #d1d7dc;
}
#LrhoverDiv>div {
    text-align: center;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
}