body {
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#adDiv {
    padding: 50px;
    box-sizing: border-box;
    width: 90%;
    height: 400px;
    margin: auto;
    background-image: url(https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/6706fa26-6361-490d-bfe2-03efbd786881.jpg);
}

#adDiv>div {
    width: 38%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 20px;
    line-height: 1;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#notifyDiv {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1d1f;
    color: white;
    font-weight: bold;
    padding: 12px;
    box-sizing: border-box;
}

#notifyDiv>div {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1d1f;
    color: white;
}

#notifyDiv>div>div:first-child {
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: white;
    color: black;

}
#notifyDiv>div>div:last-child {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: #1c1d1f;
    color: white;
    border: 1px solid white;
}
#mainCourseDiv {
    width: 90%;
    margin: auto;
}
.udemyB {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-bottom: 80px;
}
.udemyB>div{
    width: 40%;
    margin-top:60px;
}
.udemyB>div>div {
    background-color: black;
    color: white;
    padding: 10px;
    width: 30%;
}
#unic{
    width: 40% !important;
}
#company {
    margin-bottom: 50px;
    padding: 25px 0px;
    background-color: #f7f9fa;
    text-align: center;
}
#company img{
   margin-right: 10px;
}

#topics{
    background-color: #f7f9fa;
    padding: 50px 0px;
}
#topics>div:first-child{
    width: 80%;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}
#topics h3{
    color: #027bff;
}
#topics>div:last-child{
    width: 170px;
    border: 1px solid;
    box-sizing: border-box;
    margin-left: 120px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}
body>h2{
    margin-left: 70px;
}
#categories{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
}

