#hoverbox {
    display: none;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 1px solid #d1d7dc;
    padding: 20px;
    line-height: 2;
}

#hoverbox>p {
    font-size: 16px;
    line-height: 1.5;
}

#slidercontent:hover #hoverbox {
    display: inline;
    visibility: visible;
    margin-left: 16%;
    width: 280px;
    opacity: 1;
}

button {
    background-color: #a435f0;
    width: 60%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#popwish {
    width: 10%;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
}

/* #box2{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

#bestdiv {
   width: 80px !important;
    background-color: yellow;
    color: black;
}