#hoverbox {
    display: none;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 1px solid #d1d7dc;
    padding: 20px;
}

#slidercontent:hover #hoverbox {
    display: inline;
    visibility: visible;
    margin-left:16%;
    width: 300px;
    opacity: 1;
}
button{
    background-color: #a435f0;
    width: 60%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
#popwish{
    width: 10%;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
}
#hoverbox>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#hoverbox p{
   font-size: 20px;
}