#businesssliderbox,
#studentsliderbox,
#jssliderbox,
#topjssliderbox,
#pythonsliderbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:8px;
    margin-left: 10px;
}
#businessslider,
#stundentviewslider,
#javascriptslider,
#topjsslider,
#pythonslider {
    display: flex;
    align-items: center;
}

#businessslider>div>i,
#stundentviewslider>div>i,
#javascriptslider>div>i,
#topjsslider>div>i,
#pythonslider>div>i {
    font-size: 30px;
}

#businesssliderbox>div,
#studentsliderbox>div,
#jssliderbox>div,
#topjssliderbox>div,
#pythonsliderbox>div {
    display: none;
}

#ratingpic {
    width: 70px;
    height: 15px;
    margin-left:5px;
}

#slidercontent>div {
    width: 85%;
    line-height: 1;
    margin-top: -15px;
    align-items: center;
    margin-left: 5px;
}

#slidercontent>div>div {
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#slidercontent>div>div s {
    color: grey;
    margin-right: 35px;
}
#slidercontent>div p{
    font-size: 12px;
}
#slidercontent>div h5{
    font-size: 15px;
    color: goldenrod;
}
img+div>h4+p{
   margin-top: -12px;
   margin-bottom: 0px;
}