#people{
    display: flex;
    align-items: center;
    margin-top: -25px;
}
#people>p{
    color:gray;
    font-size: 13px;
}
#ctitle{
    display: flex;
    
}
#ctitle>h4{
    margin-right: 25px;
}
#main,#javascriptslider+h2,#alsolearn{
    margin: 30px;
}

#line{
    display: flex;
    align-items: flex-end;
    width: 100%;
    
}
#line>div:first-child{
    border: 1px solid  black;
    width: 10%;
}
#line>div:nth-child(2){
    border: 1px solid gray;
    width: 90%;
}
#alsolearn{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}
#alsolearn>div{
   padding: 20px;
   text-align: center;
   border: 1px solid lightgray;
}
#alsolearn+h2{
    margin-left: 30px;
    margin-bottom: -35px;
}
#topjsslider+div{
    margin: 30px;
}
#topjsslider+div>h3{
    padding: 30px;
    border: 1px  solid black;
}
#topjsslider+div>p{
   width: 57%;
   text-align: justify;
   color: #777;
   font-size: 18px; 
}
#filter{
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px;
}
#filter>div{
    display: flex;
    height: 100%;
    box-sizing: border-box;
}
#filter>div>h4{
    border: 1px solid black;
    margin-right: 4px ;
    padding: 30px;
    
}
#filter>div>select{
    border: none;
    height: 100%;
}
#sortbox{
    margin: 30px;
    width: 95%;
   
    
    display: flex;
}
#sortfilter{
  width: 20%;
}
.checkrating{
   display: flex;
   align-items: center;
}
.checkrating>img{
   height: 20px;
   width: 70px;
}
#sortfilter>h3{
   border-top: 1px solid #777;
}
#hour>input{
   margin: 10px auto;
}
#sortitem{
   width: 80%;
}
#sortitem>div{
   display: flex;
   justify-content: space-between;
   
}
#sortitem>div>div{
   display: flex;

}
#sortitem>div>div>div>div{
   display: flex;
   align-items: center
}
#sortitem>div>div>img{
  padding:23px;
  padding-left: 40px ;
  
}
#sortitem>div>div>div>h5{
   font-weight:lighter;
   font-size: 15px;
   margin-top: -15px;
   width: 400px;
}
#sortitem>div>div>div>p{
   color: #777;
   font-size: 14px;
   margin-top: -15px;
}
#sortitem>div>div>div>div{
   margin-top: -20px;
}
#sortitem>div>div>div>div>h4{
   color: coral;
}
#add{
   display: flex;
   justify-content: space-evenly;
   border-top: 1px solid lightgrey;
   border-bottom: 1px solid lightgray;
}
#add>div{
   display: flex;
   align-items: center;
   width: 25%;
}
#add>div>i{
   font-size: 20px;
   background-color: lightgray;
   border-radius: 50%;
   padding: 12px;
   margin: 10px;
}
#minutelearn{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
}
#minutelearn>div{
border: 1px solid lightgray;
padding: 20px;
}
#minutelearn>div>i{
   color: aliceblue;
   background-color: black;
   border-radius: 50%;
   padding: 15px;
   font-size: 20px;
}
#freelearn{
  display: flex;
  justify-content: center;
   margin: 30px;
   text-align: justify;
}
#freelearn>div{
  width: 55%;
}
#freelearn>div>p{
   font-size: 18px;
   font-weight: lighter;
   color: #1C1D1F;
}
#freelearn>div>h2{
   font-size: 32px;
}
#freelearn>div>h3{
   font-size: 24px;
   border-bottom: 1px solid lightgray;
   padding-bottom: 16px;
}
#freelearn>div>h5{
   font-size: 16px;
   font-weight: bolder;
}
#freelearn>div>h3+h5{
   padding: 20px;
   text-align: center;
   border: 1px solid black;
}
.checkrating+button{
   padding: 5px 20px;
   border: none;
   background-color: lightgrey;

}